.row {
    display: flex;
    flex-direction: row;
}

.row-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-col {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.transaction-col {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-col>div {
    margin: 20px 0 20px 0;
}

.valueHighlighted {
    font-size: 30px;
}

.inputBox {
    width: 200px;
    border-radius: 5px;
    min-height: 30px;
    border: 1px solid black;
    padding: 0px;
}

button.inputBox {
    height: 50px;
    border: none;
    box-shadow: 0px 0px 5px 3px #9ea0a1;
    font-size: 16px;
    background-color: #ffff;
    color: black;
    margin-top: 10px;
}

.buttondiv {
    width: inherit;
    display: flex;
    justify-content: space-between;
}

.boxshadow {
    min-width: 200px;
    box-shadow: 0px 0px 10px 5px rgb(179, 179, 179);
    border-radius: 5px;
    padding: 10px;
}

.greenshadow {
    box-shadow: 0px 0px 10px 5px rgb(5, 151, 36);
}

.redshadow {
    box-shadow: 0px 0px 10px 5px rgb(250, 65, 65);
}


.styled-table {
    text-align: center;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #006898;
    color: #ffffff;
}

.styled-table th,
.styled-table td {
    padding: 12px 35px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #006898;
}

th:first-of-type {
    border-top-left-radius: 10px;
}

th:last-of-type {
    border-top-right-radius: 10px;
}

